html {
	-webkit-transition: background-color 1s linear;
	-moz-transition: background-color 1s linear;
	-transition: background-color 1s linear;
	
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: white;
}

g {
	opacity: 0;
	display: block;
	text-decoration: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	
	background-image: -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(hsla(0, 0%, 0%, 0.50)), to(hsla(0, 0%, 0%, 0.00)));
	background-image: -webkit-radial-gradient(50% 50%, hsla(0, 0%, 0%, 0.00), hsla(0, 0%, 0%, 0.50));
	background-image: -moz-radial-gradient(50% 50%, hsla(0, 0%, 0%, 0.00), hsla(0, 0%, 0%, 0.50));
	background-image: -o-radial-gradient(50% 50%, hsla(0, 0%, 0%, 0.00), hsla(0, 0%, 0%, 0.50));
	background-image: -ms-radial-gradient(50% 50%, hsla(0, 0%, 0%, 0.00), hsla(0, 0%, 0%, 0.50));
	background-image: radial-gradient(50% 50%, hsla(0, 0%, 0%, 0.00), hsla(0, 0%, 0%, 0.50));
	
	-webkit-transition: opacity 0.25s linear;
	-moz-transition: opacity 0.25s linear;
	-transition: opacity 0.25s linear;
}

#s0 g:nth-child(1) { opacity: 1; }
#s1 g:nth-child(2) { opacity: 1; }
#s2 g:nth-child(3) { opacity: 1; }
#s3 g:nth-child(4) { opacity: 1; }

#s0 { background-color: #5577FF;	}
#s1 { background-color: green;		}
#s2 { background-color: red;		}
#s3 { background-color: goldenrod;	}

h1 {
	line-height: 100vh;
	color: white;
	text-shadow:	rgba(220,220,220,0.6) -1px 0px 0px,
					rgba(220,220,220,0.6) -2px 0px 0px,
					rgba(220,220,220,0.6) -3px -1px 0px,
					rgba(220,220,220,0.6) -4px -1px 0px,
					rgba(220,220,220,0.6) -5px -2px 0px,
					rgba(220,220,220,0.6) -6px -2px 0px,
					rgba(220,220,220,0.6) -7px -3px 0px,
					rgba(220,220,220,0.6) -8px -3px 0px,
					rgba(220,220,220,0.6) -9px -4px 0px,
					rgba(220,220,220,0.6) -10px -4px 0px;
					
	font-size: 20vh;
	text-align: center;
	margin: 0px;
	padding: 0px;
	line-height 100vh;
}